/build-debug
/install
/.settings/
/autom4te.cache/
/config/
/.cproject
/.project
/aclocal.m4
/config.guess
/config.h.in
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/missing
/Makefile.in
/build-release/
/config.h.in~
/compile
libtool.m4
lt~obsolete.m4
ltoptions.m4
ltsugar.m4
ltversion.m4